:root {
    --cell-size: 100px;
}

.tictactoe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    cursor: pointer;
}
